node_modules
dist
.changeset
.changeset-state.json
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json
pnpm-lock.yaml
yarn.lock
.next

.turbo
turbo-build.log
